@import './todo-colours';

.todo {
  position: relative;

  &:hover .todo__delete {
    opacity: 1;
  }
}

.todo__label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  color: $text-color;
  font-size: 22px;
  user-select: none;

  &:hover input ~ .todo__checkmark {
    background-color: $control-background-color;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .todo__checkmark {
      background-color: $primary;
    }

    &:checked ~ .todo__checkmark:after {
      display: block;
    }
  }
}

.todo--is-done {
  font-style: italic;
  text-decoration: line-through;
}

.todo__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $control-background-color;

  &:after {
    content: '';
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.todo__delete {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 0;
  top: -4px;
  right: 0px;
  width: 32px;
  height: 32px;
  opacity: 0;

  &::hover {
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
