@use 'todo-colours';

.todo__h1 {
  text-align: center;
  font: 300 40px Roboto, sans-serif;
}

.todo__text--emphasize {
  font-weight: 700;
  color: todo-colours.$primary;
  padding-right: 4px;
}
.todo__text--default {
  color: todo-colours.$text-color;
}

a {
  color: todo-colours.$primary;
  text-decoration: none;

  &::visited {
    color: todo-colours.$primary;
  }

  &::hover {
    text-decoration: underline;
  }
}

.todo__link--active {
  text-decoration: underline;
}
