<dos-todo-navigation></dos-todo-navigation>
<dos-todo-updater
  [isShown]="showReload$ | async"
  (reload)="update$$.next()"
></dos-todo-updater>
<main class="todo__app">
  <ng-container *ngIf="todos$ | async as todos; else loadingIndicator">
    <dos-todo-counter
      [count]="todos.length"
      class="todo__component--spaced"
    ></dos-todo-counter>
    <dos-todo-checker
      [todo]="todo"
      (toggle)="completeOrIncompleteTodo($event)"
      *ngFor="let todo of todos"
    ></dos-todo-checker>
  </ng-container>

  <dos-todos-pinned [todos]="todos$ | async"></dos-todos-pinned>

  <ng-template #loadingIndicator>
    <div *ngIf="!isErrorShown" style="padding: 8px">
      Get todos ready for you...
    </div>
  </ng-template>
</main>
