<h1 class="todo__h1">todos</h1>
<ng-container *ngIf="todos$ | async as todos; else loadingIndicator">
  <dos-todo-counter
    [count]="todos.length"
    class="todo__component--spaced"
  ></dos-todo-counter>
  <dos-todo-checker
    [todo]="todo"
    (toggle)="completeOrIncompleteTodo($event)"
    (remove)="removeTodo($event)"
    *ngFor="let todo of todos"
  ></dos-todo-checker>
</ng-container>

<ng-template #loadingIndicator>
  <div *ngIf="!isErrorShown">Get todos ready for you...</div>
</ng-template>
